* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
  
}

html {
    background: #f0f8fb;

    font-family: "Inter";
    /*font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    height: 100%;
}


@keyframes dot-flashing {
    0% {
      opacity: 1;
    }
    50%,
    100% {
      opacity: 0.3;
    }
  }