.newModelAuto {
    background: linear-gradient(90.19deg, #4573CB 0%, #3DC7DB 100.99%, #5F984E 101%);
    -webkit-background-clip: text!important;
    -webkit-text-fill-color: transparent!important;
}